<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.gaebokchi.repository.UserDao">
    <!-- 일반,전문가 회원가입 -->
    <insert id="insertNormalUser">
        INSERT INTO users (userid, password, name,
        nickname, phone, email, birth,
        gender, address)
        VALUES (
        #{userid},
        #{password},
        #{name},
        #{nickname},
        #{phone},
        #{email},
        #{birth},
        #{gender},
        #{address}
        )
    </insert>

    <insert id="insertPros">INSERT INTO pros (id) VALUES (#{license})
    </insert>

    <insert id="insertExpertUser">

        INSERT INTO users (userid, password, name,
        nickname, phone, email, birth,
        gender, address, account, license)
        VALUES (
        #{userid},
        #{password},
        #{name},
        #{nickname},
        #{phone},
        #{email},
        #{birth},
        #{gender},
        #{address},
        #{account},
        #{license}
        )

    </insert>
    <!-- 아이디, 닉네임 중복체크 버튼 -->
    <select id="selectByUserid">
        select * from users where userid = #{userid}
    </select>

    <select id="selectByNickname">
        select * from users where nickname = #{nickname}
    </select>

    <select id="selectByUseridAndPassword" resultType="User">
        select *
        from users
        where userid = #{userid} and password = #{password}
    </select>
    <select id="FindUserid">
        select * from users where name = #{name} and email
        = #{email}
    </select>

    <select id="FindPassword">
        select * from users where userid = #{userid} and
        email = #{email} and phone = #{phone}
    </select>

</mapper>





